<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h1 class="text-center">Find a watch party in your neighbourhood</h1>
      <h2 class="text-center">Meet new cinema enthusiasts!</h2>


       <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>

      <%= link_to "Start your watch party", new_watch_party_path, class:"btn btn-primary" %>
      </div>

        <div class="col-12 item">

          <% @watch_parties.each_with_index do |watch_party| %>

              <div class="box">
                <div class= "profil">
                  <img class="rounded-circle" src="https://source.unsplash.com/random/200x200">
                    <h2><%= link_to watch_party.movie.title, movie_path(watch_party.movie_id) %></h2>
                    <p><%= watch_party.date %></p>
                    <p><%= watch_party.location %></p>
                    <p><%= link_to "Join", watch_party_attendees_path(watch_party), method: :post, class:"btn btn-primary" %></p>
                </div>
                </div>
            <% end %>


              <%#<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> %>
            <%# </div> %>
        </div>
    </div>
