  <div class= ban>
    <h1 class="text-main">Find a watch party in your neighbourhood</h1>
    <div class= start>
      <div class="vertical-center">
        <%= link_to "Or create your own watch party!", new_watch_party_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class= both-wings>
    <div class="left-wing all-movies">
      <% @watch_parties.each_with_index do |watch_party| %>
        <div class="box-row">
          <%= image_tag watch_party.movie.picture, id: 'mov-img' %>
            <div class= 'info'>
              <h4><%= watch_party.movie.title%></h4>
              <p><%= watch_party.location %></p>
              <p><%= watch_party.date %></p>
            </div>
            <div class= 'info-btn'>
              <%= link_to "Register", watch_party_attendees_path(watch_party),
              method: :post, id: 'join-link' %>
            </div>
        </div>
          <% end %>
      </div>

      <div class= right-wing>
          <div id="map"
                style="width: 100%; height: 700px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
      </div>
  </div>
