  <div class= ban>
    <h1 class="text-main">Find a watch party in your neighbourhood</h1>
    <div class= start>
      <div class="vertical-center">
        <%= link_to "Or create your own watch party!", new_watch_party_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class= both-wings>
        <div class="left-wing all-movies">
          <% @watch_parties.each_with_index do |watch_party| %>
            <div class="box-row">
              <img class="rounded-circle" src="https://source.unsplash.com/random/200x200">
              <div class= 'info'>
                <h2><%= link_to watch_party.movie.title, movie_path(watch_party.movie_id) %></h2>
                <p><%= watch_party.date %></p>
                <p><%= watch_party.location %></p>
              </div>
              <div class= 'info-btn'>
                <%= link_to "Join", watch_party_attendees_path(watch_party),
                method: :post, class:"btn btn-primary" %>
                <%= link_to 'Delete', watch_party_path(watch_party),
                method: :delete, data: {:confirm => 'Are you sure?'}, class:"btn btn-primary" %>

              </div>
            </div>
          <% end %>
      </div>

      <div class= right-wing>
          <div id="map"
                style="width: 100%; height: 600px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
      </div>

  </div>
</body>
