<div data-controller="dashboard">
  <div class="banner" style="background-image: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,1) 130%), url(<%= image_path(@movies.last.picture) %>);">
    <div class="filmoftheday">



      <h1 class="day"> Movie of the day</h1>
      <div class="movieinfo">
      <p class="movietitle"><%=@movies.last.title %></p>
      <p class="overview"><%= @movies.last.overview %></p>
      <div class=spaceyear>
      <p class="director">Director: <%= @movies.last.director %></p>
      <p class="year">Year: <%= @movies.last.year %></p>
      <p class="rating">Rating: <%= @movies.last.rating %></p>
      </div>
      <%= link_to "Watch the movie", movie_path(@movies.last), class: "btn btn-primary" %>
      <%= link_to "Discover Watch Parties", watch_parties_path, class: "btn btn-primary secondary" %>
      </div>
      <a href="#movie-list"> <i class="fas fa-angle-double-down"></i> </a>

    </div>
  </div>
  <div class="container-flud">
    <div style="display: flex;
      flex-wrap: wrap;" id="movie-list">
        <% @movies.sort_by { |x| x.movie_date.start_date}.reverse.each do |movie| %>
          <% unless movie == @movies.last %>
            <div class="col-sm-12 col-md-4">
              <%= link_to movie_path(movie), class: "title" do %>
                <div class="card text-center" style="background-image: url('<%= image_path(movie.picture) %>');" data-image-url="<%= image_path(movie.picture) %>" data-dashboard-target="poster" data-action="mouseover->dashboard#showInfo mouseout->dashboard#hideInfo">
                  <h2 class="d-none title"><%= movie.title %></h2>
                </div>
              <% end %>
            </div>

          <% end %>
      <% end %>
    </div>
  </div>
</div>
