
<div class="movie-info" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "Titanic.gif" %>');">
  <div class="container d-flex flex-column">

    <div class="title">
      <h1><%= @movie.title %></h1>
    </div>

    <div>
      <%= link_to "Play", "#", class: "btn btn-ghost" %>
    </div>

  </div>
</div>

<div class="movie-info-list">
  <div class="movie-card">
    <p><%=  @movie.overview %></p>
  </div>

  <div class="movie-card">
    <p><%=  @movie.synopsis %></p>
  </div>

</div>


<div class="review-info">
 <p>review</p>
</div>
