<div class="header">
  <div class="logo">
  <%= link_to dashboard_path do %>
    <h1>FILM WEEK</span> <i class="fas fa-video"></i></h1>
    <% end %>
  </div>

  <div>
    <ul class="navigation">
      <li><%= link_to "Home", dashboard_path %></li>
      <li><%= link_to "Watchparties", watch_parties_path %></li>
      <li class="dropdown"> Our Movie
        <div class="dropdown-content">
        <% Movie.all.each do |movie| %>
          <%= link_to movie.title, movie_path(movie) %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div>
<<<<<<< HEAD
  <% if current_user.avatar %>
     <%= cl_image_tag current_user.avatar.key, id: "navbarDropdown", "data-toggle" =>  "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"%>
     <% end %>
=======
     <%= cl_image_tag current_user.avatar.key, id: "navbarDropdown", "data-toggle" =>  "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" if current_user.avatar.attached? %>
>>>>>>> 18ceded4f7e00b817d8db7034e5a886c154410a5
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <ul>
        <% if user_signed_in? %>
          <li class="dropdown-item"> Logged in as <strong><%= current_user.email %></strong> </li>
          <li class="dropdown-item"><%= link_to 'User profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
          <li class="dropdown-item"> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
        </ul>
      </div>
  </div>
</div>
