<div class="header">
  <div class="logo">
  <%= link_to dashboard_path do %>
    <%= image_tag "logo.png", id:"logo" %>
    <% end %>
  </div>

  <div>
    <ul class="navigation">
      <li><%= link_to "Home", dashboard_path %></li>
      <li><%= link_to "Watchparties", watch_parties_path %></li>
      <li class="dropdown"> Our Movie
        <div class="dropdown-content">
        <% Movie.all.each do |movie| %>
          <%= link_to movie.title, movie_path(movie) %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key %>
    <% else %>
      <%= image_tag "avatardefault.png", class: 'avatar-default' %>
    <% end %>

    <div>
        <ul class="dropdown-content">
          <% if user_signed_in? %>
            <li class="username"> Log in as <%= current_user.username %></li>
            <li><%= link_to 'User Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Login", new_user_session_path, class: 'navbar-link' %></li>
          <% end %>
        </ul>
    </div>
  </div>

</div>
